 /* -- Design for hele body -- */
        body {
            margin: 0;
            background-color: #000000;
        }
        /* -- Navbar design -- */
        .navbar a {
            text-decoration: none;
        }
        .navbar p {
         color: #fff;
        }
        .navbar h2 {
            text-align: center;
            color: #d2002d;
            font-size: 50px;
            font-family: 'Roboto', sans-serif;
            padding-top: 10%;
        }
        .navbar {
            text-align: center;
            margin: 0;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            width: 100%;
        }

        /* -- UIA Logo -- */
        .UIA-Logo {
            text-align: left;
            float: bottom;
            padding-top: 20px;
        }
