.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #7289DA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    max-width: 500px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button .text-line1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button .text-line1:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover .text-line1 {
    padding-right: 25px;
  }
  
  .button:hover .text-line1:after {
    opacity: 1;
    right: 0;
  }

  .text-line2 {
    font-size: small;
  }