/* general styling */
:root {
    --smaller: .75;
  }

  
  .container {
    color: black;
    background-color: rgba(33, 50, 91, 0.1);
    border-left: 6px solid #21325b;
    max-width: 25%;
    margin-left: 5%;
    padding: 1px;
    padding-left: 10px;
  }
  
  h1 {
    font-weight: normal;
    font-size: large;
  }
  
  li {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
  }
  
  li span {
    display: block;
    font-size: 2.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }